.appointment {
    &Progress{
        margin-top: 64px;
        h3{
            font-size: $text-2l;
        }
        &Box{
            width: 540px;
            margin: 0 auto;
            margin-bottom: $text-xl;
        }
        &Item{
            border-radius: $text-base;
        }
    }
}
.appointment{
    &Rules{
        margin-top: 32px;
        margin-bottom: 104px;
        h2{
            font-size: $text-2l;
        }
        &Box {
            width: 445px;
            margin: 0 auto;
        }
    }
}

.appointmentForm{
    &Box{
        width: 348px;
        margin: 0 auto;
    }
    &Title{
        h3{
            font-size: $text-m;
            color: #C0A4A5;
        }
    }
    &Table{
        margin-top: 32px;
        margin-bottom: 104px;
        span{
            font-size: $text-s;
        }
        a{
            font-size: $text-m;
            border-radius: 5px;
        }
    }
}
.formDate{
    width: 118px;
}

.appointmentDone{
    font-size: $text-base;
    &Info{
        width: 540px;
        p{
            font-size: $text-m;
        }
        &Header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            padding-top: 17px;
            padding-bottom: 15px;
            border-radius: 4px 4px 0px 0px;
        }
        &Content{
            padding: 0 20px;
            border-radius: 0px 0px 4px 4px;
            span{
                font-size: $text-m;
            }
        }
    }

}

.appointmentDone{
    &Notice{
        width: 540px;
        margin: 0 auto;
        &Box{
            width: 350px;
            margin: 0 auto;
            margin-top: $text-l;
            margin-bottom: 112px;
            h3{
                font-size: $text-m;
            }
        }
        &Content{
            color: #907A7B;
            width: 350px;
            a{
                margin-top: 32px;
                border-radius: 5px;
            }
        }
    }
}

