.contact{
    margin-top: $text-5xl;
    margin-bottom: 110px;
    @include pad{
        margin-bottom: 80px;
    }
    @include mobile{
        margin-top: $text-4xl;
        margin-bottom: 88px;
    }
    &Box {
        width: 1110px;
        margin: 0 auto;
        @include pad {
            width: 570px;
        }
        @include mobile {
            width: 345px;
        }
    }
    &Info{
        width: 57%;
        @include pad {
            width: 100%;
        }
    }
    &Form{
        width: 40%;
        padding: 0 32px;
        border-radius: $text-base;
        @include pad {
            width: 100%;
        }
        @include mobile{
            margin-top: 40px;
        }
        h4{
            font-size: $text-m;
        }
    }
    &Map{
        iframe{
            width: 100%;
            height: 360px;
            border-radius: $text-base;
            @include mobile {
                width: 345px;
                height: 195px;
            }
        }
    }
    &Title{
        font-size: $text-2l;
        margin-bottom: $text-xl;
        @include mobile {
            margin-bottom: $text-l;
        }
    }
    &Text{
        width: 350px;
        h3{
            font-size: $text-l;
        }
    }
}
.doneFormDate{
    width: 128px;
    border-radius: 4px;
    padding: 6px 12px;
    border: none;
}
.doneData{
    width: 171px;
}
.contactBtn{
    @include pad{
        padding-bottom: $text-xl;
    }
    @include mobile{
        padding-bottom: $text-l;
    }
}