.course{
    &Info{
        width: 920px;
        margin: 0 auto;
        margin-bottom: 64px;
        @include pad{
            width: 710px;
        }
        @include mobile{
            width: 345px;
            margin: 0 auto;
        }
        h2{
            font-size: $text-2xl;
            margin-top: $text-5xl;
            margin-bottom: $text-xl;
            @include pad{
                font-size: $text-2l;
            }
            @include pad{
                margin-top: $text-4xl;
                margin-bottom: $text-l;
            } 
        }
        &Box {
            display: flex;
            justify-content: space-between;
            @include mobile {
                flex-direction: column;
            }
        }
        &Img{
            img{
                width: 540px;
                height: 341px;
                object-fit: cover;
                border-radius: 16px;
                @include pad{
                    width: 330px;
                }
                @include mobile{
                    width: 345px;
                    height: 218px;
                } 
            }
        }
        &Text{
            @include pad{
                width: 350px;
            }  
            h3{
                font-size: $text-2l;
                @include mobile{
                    margin-top: 8px;
                }
            }
            span{
                font-size: $text-s;
            }
            a{
                font-size: $text-m;
                border:none;
                @include mobile {
                    margin-top: $text-base;
                    margin-bottom: $text-4xl;
                }
            }
        }
    }
    &Search{
        padding: 20px 0;
        input{
            color: red;
        }
    }
    &Tag{
        padding: 4px 16px;
        border-radius: $text-base;
    }
}
.courseMainbar{
    width: 1110px;
    margin: 0 auto;
    margin-top: 54px;
    margin-bottom: 34px;
    display: flex;
    justify-content: space-between;
    @include pad{
        width: 690px;
        margin-top: 46px;
    }
    @include mobile{
        width: 345px;
        margin-bottom: $text-4xl;
    }
    &Img{
        width: 74%;
        @include pad{
            width: 100%;
        }
    }
    &Box{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        @include mobile {
            flex-direction: column;
        }
        &Reverse{
            display: flex;
            flex-direction: row-reverse;
            @include mobile {
                flex-direction: column;
            }
        }

    }
    &Item {
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 24px;
        border-radius: 16px;
        position: relative;
        cursor: pointer;
        h4{
            font-size: $text-2l;
            font-weight: bold;
        }
        span{
            position: absolute;
            top: -15px;
            left: 24px;
        }
    }
    &Text{
        width: 23%;
        @include pad{
            padding-top: 10px;
            width: 330px;
            margin: 0 auto;
            @include mobile {
                padding-top: 2px;
            }
        } 
        h3{
            font-size: $text-m;
        }
    }
}

.courseMainbarItemOne, .courseMainbarItemTwo, .courseMainbarItemThree, .courseMainbarItemFour{
    width: 445px;
    height: 196px;
    background-size: cover;
    @include pad{
        width: 330px;
        height: 196px;
    }
    @include mobile{
        width: 345px;
        margin-bottom: 30px;
    }  
}
.courseMainbarItemOne{
    background:url(../images/course-1.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.courseMainbarItemTwo{
    background:url(../images/case-1.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.courseMainbarItemThree{
    background:url(../images/course-4.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.courseMainbarItemFour{
    background:url(../images/space-1.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.courseMainbarCardOne, .courseMainbarCardTwo, .courseMainbarCardThree, .courseMainbarCardFour{
    width: 350px;
    height: 196px;
    @include pad{
        width: 330px;
        height: 196px;
    } 
    @include mobile{
        width: 345px;
    }  
}
 .courseMainbarCardOne{
    background:url(../images/course-2.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.courseMainbarCardTwo{
    background:url(../images/course-3.jpg) no-repeat 50% 100%;
    background-size: cover;
}
.courseMainbarCardThree{
    background:url(../images/course-5.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.courseMainbarCardFour{
    background:url(../images/course-6.jpg) no-repeat 50% 40%;
    background-size: cover;
}


.course{
    &Teacher{
        margin-bottom: 104px;  
        h2{
            font-size: $text-2l;
            font-weight: bold;
            margin-top: 40px;
            margin-bottom: $text-xl;
            @include mobile {
                margin-top: $text-xl;
                margin-bottom: $text-l;
            }
        }
        &Img{
            width: 96px;
            height: 96px;
            top: -48px;
            left: 127px;
            border: 4px solid ;
        }
        &Card{
            height: 418px;
            margin-top: 48px;
            border-radius: $text-base;
            h4{
                padding-top: 55px;
                font-size: $text-m;
            }
        }
    }
}
.modal-img{
    padding: 20px 20px;
    @include pad {
        padding: 0px;
    }
    
    img {
        width: 100%;
        height: 418px;
        object-fit: cover;
        border-radius: $text-base;

    }
}
.modal-content{
    border-radius: $text-base;
    padding: 64px 0;
    @include mobile {
        padding: 32px 16px;
    }
}
.modal-text {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include pad {
        padding-left: 20px;
    }
    h3{
        font-size: $text-2l;
    }
}