.index{
    &Banner{
        height: 582px;
        background: url(../images/banner-1.jpeg) no-repeat 0% 100%;
        background-size: cover;
        &Box{
            width: 60%;
            height: 100%;
            color: $gary;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include pad{
                width: 100%;
            }
            // @include mobile{
            //     width: 100%;
            // }
        }
        &Text{
            h2{
                font-size: $text-2xl;
                font-weight: bold;
            }
            span{
                font-size: $text-l;
            }
        }
        &Btn{
            a{
                font-size: $text-m;
                border-radius: 5px;
            }
        }
    }
    &Function{
        margin-top: 40px;
        margin-bottom: 64px;
        @include pad{
            margin-top: 32px;
            margin-bottom: 47px;
        }
    }
    &Case{
        margin-top: 40px;
    }
    &User{
        margin-top: 64px;
        @include pad{
            margin-top: $text-xl;
        }
    }
    &Space{
        margin: 64px 0;
    }
    &Teacher {
        padding: 64px 0;
        background-color: $info;
        @include pad{
            padding: 32px 0;
        }
        h4{
            font-size: $text-2xl;
        }
        p{
            font-size: $text-base;
        }
        &Title{
            margin-top: 30px;
            h3{
                @include pad{
                    text-align: center;
                }
            }
            @include pad{
               width: 450px;
               margin: 0 auto;
            }
            h3{
                font-size: $text-2l;
            }
            p{
                font-size: $text-m;
            }
        }
        &Img{
            img{
                width: 100%;
                height: 628px;
                object-fit: cover;
                border-radius: $text-base;
            }
        }
        &Box {
            @include pad{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
        &Item{
            width: 540px;
            margin-bottom: 16px;
            align-items: center;
            padding: 24px 32px;
            border-radius: $text-base;
            img{
                padding-right: 20px;
            }
            h4{
                font-size: $text-m;
            }
        }
        &Top{
            margin-right: 185px;
            @include pad{
                margin-right: 0;
                display: flex;
                justify-content: flex-end;
             }
        }
        &TopBox{
            width: 635px;
            padding: 40px 48px;
            border-radius: $text-base;
            align-items: center;
            h4{
                font-size: $text-m;
            }
            img{
                width: 94px;
                height: 94px;
                object-fit: cover;
                margin-right: 20px;
            }
        }
    }
    &Space{
        &ImgBox{
            height: 444px;
            display: flex;
            justify-content: space-between;
            @include pad{
                height: 266px;
            }
        }
        &ImgOne{
            img{
                width: 350px;
                height: 100%;
                object-fit: cover;
                border-radius: $text-base;
                @include pad{
                    width: 210px;
                }
            }
        }
        &ImgTwo{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img{
                width: 87%;
                height: 207px;
                object-fit: cover;
                border-radius: $text-base;
                @include pad{
                    width: 90px;
                    height: 117px;
                }
            }
        }
        &Text {
            width: 445px;
            h3{
                font-size: $text-2l;
            }
            p{
                font-size: $text-m;
            }
            @include pad{
                width: 330px;
            }
        }
    }
    &Course{
        padding: 64px 0;
        &Text{
            h3{
                font-size: $text-2l;   
            }
            p{
                font-size: $text-m;
            }
        }
        &Img{
            img{
                width: 445px;
                height: 445px;
                object-fit: cover;
                border-radius: $text-base;
                @include pad{
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }
    &User{
        background-color: $info;
        padding-bottom: 64px;
        h3{
            font-size: $text-2l;
            font-weight: bold;
            color: $primary;
            padding-top: 40px;
            padding-bottom: 32px;
        }
    }
}
.function{
    &Title{
        font-size: $text-2xl;
        @include pad{
            h3{
                font-size: $text-2l;
            }
            h4{
                font-size: $text-m;
            }
        }
    }
    &Item{
        width: 31.5%;;
        border-radius: 16px;
        h4{
            font-size: $text-m;
            @include pad{
                font-size: $text-base;
            }
        }
    }
    &CardOne{
        background: url(../images/indexCard-1.jpeg) no-repeat 50% 50%;
        background-size: cover;
        height: 420px;
        @include pad{
            height: 252px;
        }
    }
    &CardTwo{
        background: url(../images/indexCard-2.jpeg) no-repeat 50% 50%;
        background-size: cover;
        height: 420px;
        @include pad{
            height: 252px;
        }
    }
    &CardThree{
        background: url(../images/indexCard-3.jpeg) no-repeat 50% 50%;
        background-size: cover;
        height: 420px;
        @include pad{
            height: 252px;
        }
    }
}
.case{
    &Title{
        h4{
            font-size: $text-2l;
        }
        p{
            font-size: $text-m;
            padding-bottom: $text-xl;
        }
    }
    &Item {
        h4{
            font-size: $text-m;
        }
        @include pad{
            margin-bottom: $text-l;
        }
    }
    &Img{
        border: 1px solid $secondary;
        border-radius: $text-base $text-base 0 0;
        border-bottom: none;
        @include pad{
            border: 1px solid $secondary;
            border-right: none;
            border-radius: $text-base 0 0 $text-base;
        }
        img{
            width: 100%;
            height: 246px;
            object-fit: cover;
            border-radius: $text-base $text-base 0 0;
            @include pad{
                border-radius: $text-base 0 0 $text-base;
            }
        }
    }
    &Text{
        border: 1px solid $secondary;
        border-radius: 0 0 $text-base $text-base;
        border-top: none;
        @include pad{
            border: 1px solid $secondary;
            border-left: none;
            border-radius: 0 $text-base $text-base 0;
        }
        a{
            font-size: $text-m;
            margin-top: 40px;
            margin-bottom: $text-l;
            border-radius: 5px;
        }
    }
}
.user{
    &Img{
        padding: 0px 16px;
        display: flex;
        align-items: center;
    }
    &Text {
        padding: 0 4px;
        h4{
            font-size: $text-s;
            padding-bottom: 11px;
        }
        p{
            padding-top: 11px;
        }
    }
    &Card {
        height: 116px;
        display: flex;
        align-items: center;
        padding: 0px 16px;
        padding-top: 16px;
        padding-bottom: 14px;
        img{
            width: 60px;
            height: 60px;
            object-fit: cover;
        }
    }
    &Item{
        width: 350px;
        border:none;
        background-color: $white;
        border-radius: $text-base;
    }
}
.material-icons-outlined{
    color:  $secondary;
    font-size: 20px;
    padding-right: 6px;
}