.index{
    &Banner{
        height: 582px;
        background: url(../images/banner-1.jpeg) no-repeat 0% 100%;
        background-size: cover;
        @include mobile {
            background: url(../images/banner-1.jpeg) no-repeat 55% 90%;
            height: 560px;
        }
        &Box{
            width: 60%;
            height: 100%;
            color: $gary;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include pad{
                width: 100%;
            }
            // @include mobile{
            //     width: 100%;
            // }
        }
        &Text{
            h2{
                font-size: $text-2xl;
                font-weight: bold;
                @include mobile {
                    font-size: $text-2l;
                }
            }
            span{
                font-size: $text-l;
                @include mobile {
                    font-size: $text-m;
                }
            }
        }
        &Btn{
            a{
                font-size: $text-m;
                border-radius: 5px;
            }
        }
    }
    &Function{
        margin-top: 40px;
        margin-bottom: 64px;
        @include pad{
            margin-top: $text-xl;
            margin-bottom: $text-4xl;
        }
    }
    &Case{
        margin-top: 40px;
    }
    &User{
        margin-top: 64px;
        @include pad{
            margin-top: $text-xl;
        }
    }

    &Course{
        margin-top: 64px;
        @include pad {
            margin-top: 56px;
        }
        @include mobile {
            margin-top: 48px;
        }
    }
    &Teacher {
        margin-bottom: 64px;
        padding: 64px 0;
        @include pad{
            padding: 32px 0;
            margin-bottom: 56px;
        }
        @include mobile{
            padding-bottom: 48px;
            margin-bottom: 48px;
        }
        &Box {
            width: 1110px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            @include pad {
                width: 630px;
            }
            @include mobile {
                width: 345px;
            }
        }
        &Title{
            margin-top: 30px;
            @include pad {
                h3{
                    text-align: center;
                }
                h4{
                    width: 450px;
                    margin: 0 auto;
                }
            }
            @include mobile {
                h4{
                    width: 345px;
                    margin: 0 auto;
                    padding-bottom: 24px;
                }

            }   
        }
        &Img{
            img{
                width: 100%;
                height: 628px;
                object-fit: cover;
                border-radius: $text-base;
            }
        }
        &Info {
            position: relative;
            width: 47%;
            @include pad {
                width: 100%;
            }
            h3{
                font-size: $text-2l;
            }
            h4{
                font-size: $text-m;
                margin-top: 4px;
            }
            h5{
                font-size: $text-m;
            }
            
        }
        &TextCard{
            padding: 24px 32px;
            border-radius: $text-base;
            @include pad {
                width: 90%;
            }
            @include mobile {
                width: 100%;
                padding: 24px 16px;
            }
            img{
                width: 68px;
                height: 68px;
                object-fit: cover;
                @include mobile {
                    width: 48px;
                    height: 48px;
                }
            }
        }
        &Item {
            margin-top: 195px;
            @include pad {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                // border: 1px solid red;
                @include mobile {
                    margin-top: 136px;
                }
            }
        }
        &ItemTop{
            width: 635px;
            position: absolute;
            top: 159px;
            right: 0px;
            padding: 40px 48px;
            border-radius: $text-base;
            @include pad{
                width: 100%;
                right: 0px;
            }
            @include mobile {
                top: 187px;
                padding: 16px;
            }
            img{
                width: 94px;
                height: 94px;
                object-fit: cover;
                @include mobile {
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }
    &Space{
        width: 1110px;
        margin: 0 auto;

        @include pad {
            width: 690px;
            margin: 0 auto;
        }
        @include mobile {
            width: 345px;
            margin: 0 auto;
        }
        &Box{
            @include mobile {
                // width: 345px;
                // margin: 0 auto;
                display: flex;
                flex-direction: column-reverse;
            }
        }
        &ImgBox{
            height: 444px;
            display: flex;
            justify-content: space-between;
            @include pad{
                height: 266px;
            }
            @include mobile{
                height: 210px;
            }
        }
        &ImgOne{
            img{
                width: 350px;
                height: 100%;
                object-fit: cover;
                border-radius: $text-base;
                @include pad{
                    width: 210px;
                }
                @include mobile{
                    width: 165px;
                    height: 210px;
                    object-fit: cover;
                }
            }
        }
        &ImgTwo{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img{
                width: 87%;
                height: 207px;
                object-fit: cover;
                border-radius: $text-base;
                @include pad{
                    width: 90px;
                    height: 117px;
                }
                @include mobile{
                    width: 165px;
                    height: 210px;
                    object-fit: cover;
                }
            }
        }
        &Text {
            width: 445px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h3{
                font-size: $text-2l;
            }
            p{
                font-size: $text-m;
            }
            a{
                @include mobile{
                    margin-bottom: $text-base;
                }
            }
            @include pad{
                width: 330px;
            }
            @include mobile{
                width: 100%;
            }
        }
    }
    &Course{
        padding: 64px 0;
        @include pad{
            padding: 56px 0;
        }
        @include mobile{
            padding: 48px 0;
        }
        &Text{
            h3{
                font-size: $text-2l;   
            }
            p{
                font-size: $text-m;
            }
        }
        &Img{
            img{
                width: 445px;
                height: 445px;
                object-fit: cover;
                border-radius: $text-base;
                @include pad{
                    width: 150px;
                    height: 150px;
                }
                @include mobile{
                    width: 165px;
                    height: 165px;
                }
            }
        }
    }
    &User{
        background-color: $info;
        padding-bottom: 64px;
        h3{
            font-size: $text-2l;
            font-weight: bold;
            color: $primary;
            padding-top: 40px;
            padding-bottom: 32px;
        }
    }
}
.function{
    &Box {
        width: 1110px;
        margin: 0 auto;
        @include pad {
            width: 690px;
        }
        @include mobile {
            width: 345px;
        }
    }
    &Title{
        font-size: $text-2xl;
        @include pad{
            h3{
                font-size: $text-2l;
            }
            h4{
                font-size: $text-m;
            }
        }
    }
    &Item{
        width: 350px;
        margin: 0 auto;
        border-radius: $text-base;
        @include pad {
            width: 210px;
        }
        @include mobile {
            width: 345px;
        }
    }
    &CardOne{
        background: url(../images/indexCard-1.jpeg) no-repeat 50% 50%;
        background-size: cover;
        height: 420px;
        @include pad{
            height: 252px;
        }
        @include mobile{
            height: 420px;
            margin-bottom: $text-base;
        }
    }
    &CardTwo{
        background: url(../images/indexCard-2.jpeg) no-repeat 50% 50%;
        background-size: cover;
        height: 420px;
        @include pad{
            height: 252px;
        }
        @include mobile{
            height: 420px;
            margin-bottom: $text-base;
        }
    }
    &CardThree{
        background: url(../images/indexCard-3.jpeg) no-repeat 50% 50%;
        background-size: cover;
        height: 420px;
        @include pad{
            height: 252px;
        }
        @include mobile{
            height: 420px;
        }
    }
}
.case{
    &Title{
        h4{
            font-size: $text-2l;
        }
        p{
            font-size: $text-m;
            padding-bottom: $text-xl;
        }
    }
    &Item {
        h4{
            font-size: $text-m;
        }
        @include pad{
            margin-bottom: $text-l;
        }
    }
    &Img{
        border: 1px solid $secondary;
        border-radius: $text-base $text-base 0 0;
        border-bottom: none;
        @include pad{
            border: 1px solid $secondary;
            border-right: none;
            border-radius: $text-base 0 0 $text-base;
        }
        @include mobile{
            width: 345px;
            border: 1px solid $secondary;
            border-bottom: none;
            border-radius: $text-base $text-base 0 0;
        }
        img{
            width: 100%;
            height: 246px;
            object-fit: cover;
            border-radius: $text-base $text-base 0 0;
            @include pad{
                width: 345px;
                border-radius: $text-base 0 0 $text-base;
            }
            @include mobile{
                border-radius: $text-base $text-base 0 0;
            }
        }
    }
    &Text{
        border: 1px solid $secondary;
        border-radius: 0 0 $text-base $text-base;
        border-top: none;
        @include pad{
            border: 1px solid $secondary;
            border-left: none;
            border-radius: 0 $text-base $text-base 0;
        }
        @include mobile{
            width: 345px;
            border: 1px solid $secondary;
            border-top: none;
            border-radius: 0 0 $text-base $text-base;
        }
        a{
            font-size: $text-m;
            margin-top: 40px;
            margin-bottom: $text-l;
            border-radius: 5px;
        }
    }
}
.user{
    &Img{
        padding: 0px 16px;
        display: flex;
        align-items: center;
    }
    &Text {
        padding: 0 4px;
        h4{
            font-size: $text-s;
            padding-bottom: 11px;
        }
        p{
            padding-top: 11px;
        }
    }
    &Card {
        height: 116px;
        display: flex;
        align-items: center;
        padding: 0px 16px;
        padding-top: 16px;
        padding-bottom: 14px;
        border-radius: $text-base;
        img{
            width: 60px;
            height: 60px;
            object-fit: cover;
        }
    }
}
.material-icons-outlined{
    color:  $secondary;
    font-size: 20px;
    padding-right: 6px;
}