.index{
    &Banner{
        height: 582px;
        background: url(../images/banner-1.jpeg) no-repeat 0% 100%;
        background-size: cover;
        &Box{
            width: 60%;
            height: 100%;
            color: #707070;
        }
        &Text{
            h3{
                font-size: $text-base;
            }
            h2{
                font-size: $text-2xl;
                font-weight: bold;
            }
            span{
                font-size: $text-l;
            }
        }
        &Btn{
            a{
                // background-color:$secondary;
                border-radius: 5px;
            }
        }
    }
    &Case{
        margin-top: 40px;
        margin-bottom: 64px;
        border: 1px solid red;
    }
    &Space{
        margin: 64px 0;
    }
    &Teacher {
        background-color: #F5F0E7;
    }
    &Course{
        background-color: #F5F0E7;
        height: 400px;
    }
    &User{
        background-color: #F5F0E7;
        padding-bottom: 64px;
        h3{
            font-size: $text-2l;
            font-weight: bold;
            color: #907A7B;
            padding-top: 40px;
            padding-bottom: 32px;
        }
    }
}
.function{
    &Title{
        font-size: $text-2xl;
    }
    &Box{
        margin-bottom: 64px;
    }
    &Item{
        width: 31.5%;;
        border-radius: 16px;
    }
    &CardOne{
        background: url(../images/indexCard-1.jpeg) no-repeat 50% 50%;
        background-size: cover;
        height: 420px;
    }
    &CardTwo{
        background: url(../images/indexCard-2.jpeg) no-repeat 50% 50%;
        background-size: cover;
        height: 420px;
    }
    &CardThree{
        background: url(../images/indexCard-3.jpeg) no-repeat 50% 50%;
        background-size: cover;
        height: 420px;
    }
}

.teacher{
    &Img{
        background: url(../images/teacherImg.jpeg)
    }
    &Title{
        h4{
            font-size: $text-2xl;
        }
        p{
            font-size: $text-base;
        }
        position: absolute;
    }
    &Item{
        width: 540px;
        margin-bottom: 16px;
        align-items: center;
        padding: 24px 32px;
    }
    &Top{
        margin: 150px 0;
        width: 635px;
        position: relative;
        right: 15%;
        padding: 40px 48px;
    }
}
.space{
    &Title{
        font-size: $text-base;
    }
}
.case{
    &Title{
        h4{
            font-size: $text-base;
        }
        p{
            font-size: $text-base;
        }
    }
    &Item {
        img{
            width: 100%;
            height: 227px;
            object-fit: cover;
        }
    }
}
.user{
    // &Item{
    //     display: flex;
    // }
    &Img{
        padding: 0px 16px;
        display: flex;
        align-items: center;
    }
    &Text {
        padding: 0 4px;
        h4{
            font-size: $text-s;
            color: #907A7B;
        }
    }
    &Card {
        margin-bottom: 16px;
        padding: 0px 16px;
        padding-top: 16px;
        padding-bottom: 14px;
        display: flex;
    }
}
.material-icons-outlined{
    color: #C0A4A5;
    font-size: 20px;
    padding-right: 4px;
}