.header{
    background-color:#F5F0E7;
    font-size: $text-base;
    &Box{
        // width: 1280px;
        margin: 0;
        // padding: 0 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &Logo{
        h1{
            font-size: $text-l;
            font: 24px/30px Silom;
            font-weight: bold;
        }
        a{
            color: #C0A4A5;
        }
    }
    &Item{
        padding: 0 16px;
        a{
            color: #707070;
        }
    }
    &Btn{
        padding: 20px 0;
        a{
            color: #907A7B;
            padding: 8px 16px;
            border: 0.5px solid #907A7B;
            border-radius: 16px;
        }
    }
}
.footer{
    position: relative;
    &Box {
        padding: 0 85px;
        h3{
            font-size: $text-2l;
        }
    }
    &Top{
        padding-top: 30px;
    }
    &Subscribe{
        width: 350px;
    }
    &Course{
        img{
            width: 96px;
            height: 31px;
            object-fit: cover;
        }
    }
    &Group{
        padding-bottom: 31px;
    }
}
hr{
    margin: 32px 0;
}