.schedule{
    h2{
        font-size: $text-2l;
        padding-top: 64px;
        padding-bottom: $text-xl;
    }
    &Box{
        margin: 0 auto;
        padding: 40px 48px;
        border-radius: $text-base;
    }
    &TableTitle{
        font-size: $text-m;
    }
}

.schedule{
    &Rules{
        margin-bottom: 104px;
        @include pad {
            margin-bottom: 80px;
        }
        h2{
            font-size: $text-2l;
            padding: $text-xl 0;
            @include pad {
                padding-top: 40px;
                padding-bottom: $text-l;
            }
        }
        &Box{
            padding: 0 95px;
        }
        &Item{
            border-radius: $text-base;
            span{
                font-size: $text-3xl;
                font-family: Han Sans TW;
                font-weight: bold;
            }
        }
        &Text{
            padding: $text-base $text-l;
            border-radius: $text-base;
        }
    }
}
