.space{
    h2{
        font-size: $text-2l;
        margin-top: 64px;
        margin-bottom: 32px;
        font-weight: bold;
        @include mobile {
            margin-top: $text-4xl;
            margin-bottom: $text-l;
        }
    }
    h3{
        font-size: $text-2l;
        font-weight: bold;
        @include pad {
            font-size: $text-l;
        }
    }
    &Mainbar{
        &Item{
            img{
                width: 100%;
                height: 350px;
                object-fit: cover;
                border-radius: $text-base;
                @include pad{
                    width: 100%;
                    height: 216px;
                }
                @include mobile{
                    width: 345px;
                    height: 350px;
                }
                
            }
        }
        &Text{
            padding: 24px;
            @include pad{
                padding: 12px;
            }
            @include mobile{
                padding: 24px;
            }
        }
    }
    &Sidebar{
        &Box{
            padding: $text-xl;
            border-radius: $text-base;
            @include pad{
                padding: $text-base;
            }
            h4{
                font-size: $text-m;
            }
            a{
                padding-top: 12px;
                font-weight: bold;
            }
        }
    }
}

.space{
    &Recommend{
        color: $primary;
        margin-top: 40px;
        h2{
            font-size: $text-2l;
            font-weight: bold;
            padding-top: 40px;
            padding-bottom: $text-xl;
            @include pad{
                padding-bottom: $text-l;
            }
            @include mobile{
                padding-bottom: $text-xl;
            }
        }
        &Item{
            margin-bottom: 56px;
        }
        &Img{
            width: 255px;
            height: 196px;
            object-fit: cover;
            border-radius: $text-base;
        }
        &Text{
            h4{
                font-size: $text-m;
                font-weight: bold;
                padding-top: 8px;
            }

        }
    }
}