/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  background-color: #F5F0E7;
  font-size: 16px; }
  .headerBox {
    width: 1110px;
    margin: 0;
    padding: 0 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .headerLogo h1 {
    font-size: 24px;
    font: 24px/30px Silom;
    font-weight: bold; }
  .headerLogo a {
    color: #C0A4A5; }
  .headerItem {
    padding: 0 16px; }
    .headerItem a {
      color: #707070; }
  .headerBtn {
    padding: 20px 0; }
    .headerBtn a {
      color: #907A7B;
      padding: 8px 16px;
      border: 0.5px solid #907A7B;
      border-radius: 16px; }

footer {
  background-color: #907A7B; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none;
  display: block; }

.container {
  width: 1110px; }

.indexBanner {
  height: 582px;
  background: url(../images/banner-1.jpeg) no-repeat 0% 100%;
  background-size: cover; }
  .indexBannerBox {
    width: 60%;
    height: 100%;
    color: #707070; }
  .indexBannerText h3 {
    font-size: 16px; }
  .indexBannerText h2 {
    font-size: 36px;
    font-weight: bold; }
  .indexBannerText span {
    font-size: 24px; }
  .indexBannerBtn a {
    border-radius: 5px; }

.indexCase {
  margin-top: 40px;
  margin-bottom: 64px;
  border: 1px solid red; }

.indexSpace {
  margin: 64px 0; }

.indexTeacher {
  background-color: #F5F0E7; }

.indexCourse {
  background-color: #F5F0E7;
  height: 400px; }

.indexUser {
  background-color: #F5F0E7;
  padding-bottom: 64px; }
  .indexUser h3 {
    font-size: 28px;
    font-weight: bold;
    color: #907A7B;
    padding-top: 40px;
    padding-bottom: 32px; }

.functionTitle {
  font-size: 36px; }

.functionBox {
  margin-bottom: 64px; }

.functionItem {
  width: 31.5%;
  border-radius: 16px; }

.functionCardOne {
  background: url(../images/indexCard-1.jpeg) no-repeat 50% 50%;
  background-size: cover;
  height: 420px; }

.functionCardTwo {
  background: url(../images/indexCard-2.jpeg) no-repeat 50% 50%;
  background-size: cover;
  height: 420px; }

.functionCardThree {
  background: url(../images/indexCard-3.jpeg) no-repeat 50% 50%;
  background-size: cover;
  height: 420px; }

.teacherImg {
  background: url(../images/teacherImg.jpeg); }

.teacherTitle {
  position: absolute; }
  .teacherTitle h4 {
    font-size: 36px; }
  .teacherTitle p {
    font-size: 16px; }

.teacherItem {
  width: 540px;
  margin-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 32px; }

.teacherTop {
  margin: 150px 0;
  width: 635px;
  position: relative;
  right: 15%;
  padding: 40px 48px; }

.spaceTitle {
  font-size: 16px; }

.caseTitle h4 {
  font-size: 16px; }

.caseTitle p {
  font-size: 16px; }

.caseItem img {
  width: 100%;
  height: 227px;
  -o-object-fit: cover;
     object-fit: cover; }

.userImg {
  padding: 0px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.userText {
  padding: 0 4px; }
  .userText h4 {
    font-size: 14px;
    color: #907A7B; }

.userCard {
  margin-bottom: 16px;
  padding: 0px 16px;
  padding-top: 16px;
  padding-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.material-icons-outlined {
  color: #C0A4A5;
  font-size: 20px;
  padding-right: 4px; }

.courseInfo {
  width: 920px;
  margin-bottom: 64px; }
  .courseInfo h2 {
    font-size: 36px; }
  .courseInfoBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .courseInfoImg img {
    width: 540px;
    height: 341px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 16px; }

.courseSearch {
  padding: 20px 0;
  background-color: #C0A4A5; }

.courseMainbar {
  margin-top: 54px;
  margin-bottom: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .courseMainbarImg {
    width: 74%; }
  .courseMainbarBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px; }
  .courseMainbarItem {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 24px;
    border-radius: 16px;
    position: relative; }
    .courseMainbarItem h4 {
      font-size: 28px;
      font-weight: bold; }
    .courseMainbarItem span {
      position: absolute;
      top: -15px;
      left: 24px; }
  .courseMainbarText {
    width: 23%;
    font-size: 16px; }

.courseMainbarItemOne, .courseMainbarItemTwo, .courseMainbarItemThree, .courseMainbarItemFour {
  width: 445px;
  height: 196px;
  background-size: cover; }

.courseMainbarItemOne {
  background: url(../images/course-1.jpg) no-repeat 50% 70%;
  background-size: cover; }

.courseMainbarItemTwo {
  background: url(../images/case-1.jpg) no-repeat 50% 70%;
  background-size: cover; }

.courseMainbarItemThree {
  background: url(../images/course-4.jpg) no-repeat 50% 70%;
  background-size: cover; }

.courseMainbarItemFour {
  background: url(../images/space-1.jpg) no-repeat 50% 70%;
  background-size: cover; }

.courseMainbarCardOne, .courseMainbarCardTwo, .courseMainbarCardThree, .courseMainbarCardFour {
  width: 350px;
  height: 196px; }

.courseMainbarCardOne {
  background: url(../images/course-2.jpg) no-repeat 50% 70%;
  background-size: cover; }

.courseMainbarCardTwo {
  background: url(../images/course-3.jpg) no-repeat 50% 70%;
  background-size: cover; }

.courseMainbarCardThree {
  background: url(../images/course-5.jpg) no-repeat 50% 70%;
  background-size: cover; }

.courseMainbarCardFour {
  background: url(../images/course-6.jpg) no-repeat 50% 70%;
  background-size: cover; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px !important; }

.card-img-top {
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover; }

.scheduleBox {
  width: 920px;
  margin: 0 auto; }

.appointmentItemImg img {
  width: 100%;
  height: 227px;
  -o-object-fit: cover;
     object-fit: cover; }

.appointmentItemContent {
  font-size: 32px; }

.appointmentCard {
  border: 4px solid #C0A4A5;
  border-radius: 16px; }

.appointmentRules {
  font-size: 32px; }

.appointmentForm {
  font-size: 16px;
  color: #707070; }
  .appointmentFormTitle h3 {
    font-size: 20px;
    color: #C0A4A5; }
  .appointmentFormTable {
    width: 300px;
    margin-top: 32px;
    margin-bottom: 104px; }
    .appointmentFormTable span {
      font-size: 14px; }
    .appointmentFormTableQuestion {
      margin-right: 32px; }

.formDate {
  width: 118px; }

.appointmentDone {
  font-size: 16px; }
  .appointmentDoneInfo {
    width: 540px; }
  .appointmentDoneNoticeContent {
    font-size: 16px;
    color: #907A7B;
    width: 350px; }
    .appointmentDoneNoticeContent a {
      margin-top: 32px; }

.contact h3 {
  font-size: 32px; }

.contactMap iframe {
  height: 360px; }

.contactInfo {
  width: 57%; }

.contactForm {
  width: 40%; }

/*# sourceMappingURL=all.css.map */
